<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::div.content-container}, 'manager-changepassword', ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 - SeSAC 관리자 페이지</title>

</head>
<body>
<div class="content-container">
  <div class="page-path">
    <span class="path-item current">비밀번호 변경</span>
  </div>
  <form action="/manager/changepassword" method="post">

      <form action="/manager/changepassword" method="post">
        <div class="form-container" style="margin: 20px 0;">
          <table class="form-table" style="width: 100%;">
            <tr>
              <th style="white-space: nowrap; padding: 10px;">비밀번호</th>
              <td>
                <input type="text" id="current-password" class="form-input" name="current-password" placeholder="현재 비밀번호" required />
              </td>
            </tr>
            <tr>
              <th style="white-space: nowrap; padding: 10px;">새 비밀번호</th>
              <td>
                <input type="text" id="new-password" class="form-input" name="new-password" placeholder="새 비밀번호" required />
              </td>
            </tr>
            <tr>
              <th style="white-space: nowrap; padding: 10px;">새 비밀번호 확인</th>
              <td>
                <input type="password" id="check-password" class="form-input" name="check-password" placeholder="새 비밀번호 확인" required />
              </td>
            </tr>
          </table>
        </div>

        <div class="btn-container">
          <button type="submit" class="submit-btn">저장</button>
        </div>
      </form>
  </form>
</div>
</body>

</html>