<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::div.content-container}, 'member-add', ~{::title})}">
<head>
    <title>회원 추가 - SeSAC 관리자 페이지</title>

</head>
<body>
<div class="content-container">
    <!-- 페이지 경로 표시 -->
    <div class="page-path">
        <span class="path-item">회원 관리</span>
        <span class="path-separator">></span>
        <span class="path-item current">회원 추가</span>
    </div>

    <form action="add" method="post">
        <!-- 회원 추가 폼 -->
        <div class="form-container">
            <table class="form-table">
                <tr>
                    <th>이름</th>
                    <td>
                        <input type="text" id="name" class="form-input" name="name" placeholder="이름을 입력해주세요" required/>
                    </td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" id="phone" class="form-input" name="phone"
                               placeholder="아이디(전화번호)를 입력해주세요" required/>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password" id="password" class="form-input" name="password"
                               placeholder="비밀번호를 입력해주세요" required/>
                    </td>
                </tr>
                <tr>
                    <th>그룹</th>
                    <td>
                        <select id="partyId" class="form-input" name="partyId" multiple required>
                            <option th:each="party : ${parties}" th:value="${party.id}"
                                    th:text="${party.name}"></option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>


        <div class="btn-container">
            <button type="submit" class="submit-btn">등록</button>
        </div>
    </form>
</div>
</body>
</html>