<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Franchise</title>
</head>
<body>
<h1>Update Franchise</h1>
<form action="update" method="post">
    <input type="hidden" name="id" data-th-value="${franchise.id}"/>
    <label for="name">Business Name:</label>
    <input type="text" name="name" id="name" data-th-value="${franchise.name}" required/>
    <label for="ownerName">Owner Name:</label>
    <input type="text" name="ownerName" id="ownerName" data-th-value="${franchise.ownerName}" required/>
    <label for="businessNumber">Business Number:</label>
    <input type="text" name="businessNumber" id="businessNumber" data-th-value="${franchise.businessNumber}" required/>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" data-th-value="${franchise.address}" required/>
    <label for="phone">Phone:</label>
    <input type="tel" name="phone" id="phone" data-th-value="${franchise.phone}" required/>
    <button type="submit">Update Franchise</button>
</form>
</body>
</html>